	<section id="section1">
		<div class="container-fluid">

			<div class="row">

				<div class="col-lg-5 col-lg-offset-1 col-sm-5">
					<%= image_tag("resume.jpg", height: "400", width: "300") %> 
				</div>

				<div class="col-lg-3 col-sm-5 col-xs-12 col-xs-offset-0">

					<h2>entrepreneur <br> developer <br>manager</h2>
					<h3>Attending the Master in International Business at Grenoble Graduate School of Business in London. I am also involved in side projects such as Worklab, a start-up company.</h3>

					<%= link_to("Download Resume", "https://www.dropbox.com/s/gxfpg6tdpsqf7d4/adriennhem.pdf?dl=0" , target: "_blank", class: "btn btn-danger") %>

				</div>

			</div>
		</div>	
	</section>

