<section id="section2">
  <div class="container-fluid">


          <h1>EDUCATION</h1>


      <div class="row">

          <div class="col-lg-offset-1 col-md-offset-1 col-sm-offset-1 col-lg-2 col-sm-2 col-xs-8 col-xs-offset-3">
            <div class="eduDate">Sep 2014 <br>- <br> Sep 2016</div>
          </div>

          <div class="education details col-lg-8 col-sm-8 col-xs-12">

              <h3>Master in International Business</h3>
              <h4>Grenoble Graduate School of Business | London, UK</h4>
              <p>Ranked 13th in Global Masters by the Financial Times. This is a generalist program with a special focus on international aspects of business and management. It includes topics such as strategy and operations, marketing, international management, IT and web applications, finance, economics and accounting.</p>
              <ul>
                <li>Overall average of 75% expected.</li>
                <li>Accreditations : AACSB, AMBA, EQUIS.</li>
              </ul>
              </div>

          </div> <!-- end details MIB -->



      <div class="row">

          <div class="col-lg-offset-1 col-md-offset-1 col-sm-offset-1 col-lg-2 col-sm-2 col-xs-8 col-xs-offset-3">
            <div class="eduDate">Sep 2012 <br>- <br> Sep 2013</div>
          </div>

          <div class="education details col-lg-8 col-sm-8 col-xs-12">

            <h3>Bachelor in International Business</h3>
            <h4>Grenoble Graduate School of Business | London, UK</h4>
            <p>The BIB is ranked 4th in France.
              The BIB program  provide me with a broad introduction to management, international business, foreign cultures and foreign languages which will allow me to work in a diverse environment.
            </p>
            <ul>
              <li>Degree obtained with distinctions (overall average of 75%).</li>
              <li>Specialization in Global Management.</li>
              <li>Relevant coursework : international marketing, intercultural business skills, entrepreneurship, ethics, international business law, global strategy, ethics and innovation management.</li>
            </ul>
          </div>

          </div> <!-- end of row -->


      <div class="row last">

        <div class="col-lg-offset-1 col-md-offset-1 col-sm-offset-1 col-lg-2 col-sm-2 col-xs-8 col-xs-offset-3">
          <div class="eduDate">Sep 2010 <br>- <br> Sep 2012</div>
        </div>

          <div class="education details col-lg-8 col-sm-8 col-xs-12">
            <h3>Bsc. Economics and Management</h3>
            <h4>University Lyon II | Lyon, France</h4>
            <ul>
              <li>120 ECTS obtained after two years.</li>
              <li>Attended national championship in table tennis twice.</li>
              <li>Relevant coursework : statistics, marketing, mathematics, microeconomics, accounting and finance.</li>
            </ul>
          </div>
          </div> <!-- end details Lyon 2 -->


        
     </div> <!-- end of container-fluid --> 
 </section> <!-- end education -->



