<section id="section5">
	<div class="container">
    <h1>My Interests</h1>
			<div class="col-lg-5 col-md-10 col-sm-10 interest">
				<h4 class="page-header">Table Tennis</h4>
				<p>My greatest passion is table tennis. I have practised table tennis tennis since I was 6.
				After achieving good national results, I joined a regional sport academy in Lyon (France). I have successfully balanced a weekly 25+ training hours with my student life. I won the FISEC european championship in mixed double the same year. I still practise several sport afterwork to relax. 
				</p>
			</div>
				
			<div class="col-lg-5 col-md-10 col-sm-10 interest">
				<h4 class="page-header">Web Development</h4>
				<p>I was working on the familly business website using a content management system and realized that the customization options were not enough. Out of curiosity, I was googling to find new features to add and ended up learning HTML5, CSS3, Jquery and Ruby on rails on Treehouse.com. I am still learning ever since!</p>
			</div>

			<!-- <div class="col-lg-3 col-md-10 col-sm-10 interest">
				<h4 class="page-header">Corporate Social Responsibility</h4>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Recusandae autem saepe neque, totam nam temporibus nostrum cupiditate, animi maxime, magnam adipisci expedita iure blanditiis voluptates voluptatum esse tempore maiores quas!</p>
			</div> -->
	</div>
</section>