<section id="section4">


		<div class="container">
  
          <h1>MY SKILLS</h1>

         
			<div class="row">

			<div class="skill col-xs-12 col-sm-4 col-md-4 col-lg-4">
					<div class="chart" data-percent="100">
						<span class="percent">100</span>
					</div>
					<h4>Languages</h4>
					<p>English: full professional proficiency<br> French: native<br>Chinese: notions</p>
						
				  </div>

				  <div class="skill col-xs-12 col-sm-4 col-md-4 col-lg-4">
					<div class="chart" data-percent="60">
						<span class="percent">60</span>
					</div>
					<h4>Web Development (self-taught)</h4>
					<p>Ruby on Rails (1 year) <br> HTML5, CSS3, JQuery (1 year)</p>
				  </div>

				  <div class="skill col-xs-12 col-sm-4 col-md-4 col-lg-4">
					<div class="chart" data-percent="90">
					<span class="percent">90</span>
				</div>
				<h4>IT</h4>
					<p>Fluency in Microsoft Office, Adobe Photoshop,Indesign and Illustrator. </p>
				  </div>

				</div>

				<div class="row">

				  <div class="skill col-xs-12 col-sm-4 col-md-4 col-lg-4">
					<div class="chart" data-percent="80">
					<span class="percent">80</span>
				</div>
				<h4>Cultural awareness</h4>
					<p>Ability to work among an international team and understand foreign cultures</p>
				  </div>

				  <div class="skill col-xs-12 col-sm-4 col-md-4 col-lg-4">
					<div class="chart" data-percent="85">
					<span class="percent">85</span>
				</div>
				<h4>Effective communication</h4>
					<p>Ability to communicate complex ideas in a clear and effective manner to a broad range of audiences</p>
				  </div>

				  <div class="skill col-xs-12 col-sm-4 col-md-4 col-lg-4">
					<div class="chart" data-percent="90">
					<span class="percent">90</span>
				</div>
				<h4>Time management</h4>
					<p>Ability to prioritize among conflicting demands in a dynamic environment. Get things done at the end of the day</p>
				  </div>
			
			</div> <!-- end row -->
		</div> <!-- end container -->
</section> <!-- end skills -->
