
<section id="section3">

	<div class="container-fluid">

		  
          <h1>WORK EXPERIENCE</h1>
          <p>My previous experience</p>

    

			<div class="row">

				


				<div class="col-lg-offset-1 col-md-offset-1 col-sm-offset-1 col-lg-2 col-sm-2 col-xs-8 col-xs-offset-3">
						<div class="workDate">Oct 2013 <br>- <br>Apr 2014</div>

				</div>

				<div class="work details col-lg-8 col-sm-8 col-xs-12">


						<h3>International Federation of Sport Climbing</h3>
						<h4>Project manager (internship)</h4>
						<ul>
							<li>Worked both with an intercultural team and a virtual one.</li>
							<li>Presented project proposals to senior management.</li>
							<li>Drafted regulations for international event. </li>
							<li>Initiated, coordinated and planned certification visits in Korea, China, United Kingdom and Colombia resulting in 14,000€ sales</li>
							<li>Supervised a working group composed by the main actors of the industry, aimed at defining caracteristics of a new stopwatch.</li>
						</ul>

				</div> <!-- end details -->

			</div>

			<div class="row">


				<div class="col-lg-offset-1 col-md-offset-1 col-sm-offset-1 col-lg-2 col-sm-2 col-xs-8 col-xs-offset-3">
					<div class="workDate">May 2013 <br>- <br>October 2013</div>
				</div>

				<div class="work details col-lg-8 col-sm-8 col-xs-12">

					<h3>Systemd</h3>
					<h4>Junior consultant (internship)</h4>
					<ul>
						<li>Worked full-time for one client. Addressed business development issues. </li>
						<li>Involved in digital marketing and web strategy. </li>
						<li>Seeked sponsors for Le Club des Sport des Menuires (skiing resort).</li>
						<li>Identify new clients. </li>
						<li>Assisted clients with daily tasks: operational marketing, budget controlling.</li>
					</ul>
				</div>
				</div> <!-- end details -->


				<div class="last row">


				<div class="col-lg-offset-1 col-md-offset-1 col-sm-offset-1 col-lg-2 col-sm-2 col-xs-8 col-xs-offset-3">
					<div class="workDate">May 2012 <br>- <br>Sep 2013</div>
				</div>
					
				<div class="work details col-lg-8 col-sm-8 col-xs-12">

					<h3>Nous C Le Prix</h3>
					<h4>e-commerce assistant</h4>
					<ul>
						<li>Analysed amazon, Ebay and Priceminister's data for adjusting marketing.</li>
						<li>Published new product on online platforms. </li>
						<li>Prepared, packed and sent products to Amazon shipping platform in Montelimar, France.</li>
						<li>Worked with customer services.</li>
						<li>Presented data related to sales and forecastings. </li>
						<li>Assisted the owner with daily tasks.</li>
					</ul>

				</div>
		</div> <!-- end details -->

				

   </div> <!-- end of container -->
 </section>





