
<section id="section3">

	<div class="container-fluid">

		  
          <h1>WORK EXPERIENCE</h1>
          <p>My previous experience</p>

    

			<div class="row">

				


				<div class="col-lg-offset-1 col-md-offset-1 col-sm-offset-1 col-lg-2 col-sm-2 col-xs-8 col-xs-offset-3">
						<div class="workDate">Oct 2013 <br>- <br>Apr 2014</div>

				</div>

				<div class="work details col-lg-8 col-sm-8 col-xs-12">


						<h3>International Federation of Sport Climbing</h3>
						<h4>Project manager internship</h4>
						<ul>
							<li>Directed focus group aimed at establishing requirements for new stopwatch. Group included industry's main actors.</li>
							<li>Monitored and coordinated certification visits in Korea, China, United Kingdom, and Colombia generating £11,000.</li>
							<li>Drafted regulations for official sport climbing rules and sales agreements.</li>
							
							<li>Worked as a liaison between the IFSC and organisers of world cup.</li>
						</ul>

				</div> <!-- end details -->

			</div>

			<div class="row">


				<div class="col-lg-offset-1 col-md-offset-1 col-sm-offset-1 col-lg-2 col-sm-2 col-xs-8 col-xs-offset-3">
					<div class="workDate">May 2013 <br>- <br>October 2013</div>
				</div>

				<div class="work details col-lg-8 col-sm-8 col-xs-12">

					<h3>Systemd</h3>
					<h4>Junior consultant (internship)</h4>
					<ul>
						<li>Communicated with client companies and understood nature, demands and problems of their business, and collaborated with senior consultant to help them overcome all limitations.</li>
						<li>Assigned to one client and presented new ideas for development of a project and brand as a whole.</li>
						<li>Developed proposals and conducted presentations.</li>
					</ul>
				</div>
				</div> <!-- end details -->


				<div class="last row">


				<div class="col-lg-offset-1 col-md-offset-1 col-sm-offset-1 col-lg-2 col-sm-2 col-xs-8 col-xs-offset-3">
					<div class="workDate">May 2012 <br>- <br>Sep 2013</div>
				</div>
					
				<div class="work details col-lg-8 col-sm-8 col-xs-12">

					<h3>Nous C Le Prix</h3>
					<h4>e-commerce assistant</h4>
					<ul>
						<li>Published and managed online offers on Amazon, Ebay, and Priceminister.</li>
						<li>Improved customer experience by designing mail templates and feedback forms.</li>
						<li>Realised online benchmarks aimed at adjusting prices.</li>
					</ul>

				</div>
		</div> <!-- end details -->

				

   </div> <!-- end of container -->
 </section>





