<div class="footer">
	<div class="container">
		<div class="inner-footer col-lg-offset-4 col-lg-6 col-xs-10">
				<span>© 2014 Adrien Nhem / Run with Ruby on Rails</span>
		</div>	
	</div>
</div>



	